body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  font-family: Avenir-Next-Regular;
}

body .row {
  margin-left: 0;
  margin-right: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a, a:hover {
  text-decoration: none;
}

strong {
  font-family: Avenir-Next-Medium;
}

.mdash {
  font-family: Lato;
}

$header-height: 80px;