// Current Dir
@import 'colors';
@import 'fonts';
@import 'globals';

// Shared
@import 'shared/header';
@import 'shared/footers/footer';
@import 'shared/form/form-input';
@import 'shared/form/form-select';
@import 'shared/form/email-input';

// Home
@import 'home/home';

// Widgets
@import 'widgets/spinners/horiz-spinner';
@import 'widgets/lg-spinner-btn';